.filterWrapper {
    background-color: #131212e7;
    box-shadow: 5px 5px 6px rgb(85, 84, 84);
    padding: 20px;
    right: 0px;
    min-width: 300px;
    color: rgb(71, 71, 71);
    font-size: larger;
}

.filterHeader {
    font-size: x-large;
}

.dropdown {
    width: 200px;
    padding: 10px 0px;
}

.smalldropdown {
    width: 100px;
    padding: 10px 5px 10px 0px;
}

.filterFields {
    padding-top: 30px;
}